{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Artikel</title>


{% endblock meta %}

{% block content %}


<div class="">

  <div class="my-5 py-5">
    
    <div class="button_container">
      <h1 class="d-flex justify-content-center mt-3 button_container">Artikel</h1>
      <div class="d-flex justify-content-center mt-3 button_container">
        {% if user.is_authenticated %} 
          <button font-family: 'poppins'; background-color: #ffffff;" type="button" class="submit mt-0 ml-1 px-2 p-3"  data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">
          Buat Artikel Baru</button>
          <a href="{% url 'homepage:homepage' %}"><button font-family: 'poppins'; background-color: #ffffff;" type="button" class="submit mt-0 ml-1 px-2 p-3">Kembali </button></a>
        {% else %}
        <a href="{% url 'autentikasi:login' %}">login </a>  untuk menambah artikel
        <a href="{% url 'homepage:homepage' %}"><button font-family: 'poppins'; background-color: #ffffff;" type="button" class="submit mt-0 ml-1 px-2 p-3">Kembali </button></a>
        {% endif %} 
      </div>
    </div>

<hr>
<!--cards start here-->
<div class="row g-3" id = "artikel_containers">

</div>
<!--cards end here-->


</div>
</div>
<!--modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Buat Artikel Baru</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="form_artikel">
              {% csrf_token%}
            <div class="mb-3">
              <label for="title" class="col-form-label">Judul:</label>
              <input type="text" class="form-control" id="title">
            </div>
            <div class="mb-3">
              <label for="description" class="col-form-label">Deskripsi:</label>
              <textarea class="form-control" id="description"></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" value="submit" class="btn btn-primary" id="submit_btn">Create</button>
            </div>
          </form>
        </div>
  
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  
  <script src="{% static 'js/artikel.js'%}"></script>
{% endblock content %}