{% extends 'base.html' %}

{% block content %}
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<style>
  .submit{
  display: inline-block !important;
  padding: 5px 10px !important;
  color: rgb(162, 123, 92) !important;
  border: 1px solid rgb(162, 123, 92) !important;
  border-radius: 23px;
  font-weight: 500 !important;
  letter-spacing: 0.3px !important;
  transition: all 0.5s;
  }

  .footer {
  position: fixed;
  bottom: auto;
  }

  .logo {
      width: 50px;
      height: 20px;
      object-fit: cover;
    }
</style>

<div class="">
  
    <div class="my-5 py-5">
      <div class="list-group mx-auto my-0" style="width: 40%;">
        <a href="#" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h3 class="mb-0">Notifikasi</h3>
            <!-- Button trigger modal -->
            <button type="button" class="submit" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Tambah Saldo
            </button>
          </div>
        </a>
      </div>
      <div class="notifications mb-5"></div>
      <br/>
      <br/>
      <br/>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Tambahkan Saldo</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="form" method="PATCH">
              {% csrf_token %}
            <div class="row">
              <div class="col-12">
                <div class="d-flex flex-column px-md-5 px-4 mb-4">
                  <span>Credit Card</span>
                  <div class="inputWithIcon">
                    <input
                      class="form-control"
                      type="text"
                      value="5136 1845 5468 3894"
                    />
                    <span>
                      <img
                        class='logo'
                        src="https://www.freepnglogos.com/uploads/mastercard-png/mastercard-logo-logok-15.png"
                        alt=""
                    /></span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="d-flex flex-column ps-md-5 px-md-0 px-4 mb-4">
                  <span>Expiration<span class="ps-1">Date</span></span>
                  <div class="inputWithIcon">
                    <input type="text" class="form-control" value="05/20" />
                    <span class="fas fa-calendar-alt"></span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="d-flex flex-column pe-md-5 px-md-0 px-4 mb-4">
                  <span>Code CVV</span>
                  <div class="inputWithIcon">
                    <input type="password" class="form-control" value="123" />
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="d-flex flex-column px-md-5 px-4 mb-4">
                  <span>Name</span>
                  <div class="inputWithIcon">
                    <input
                      class="form-control text-uppercase"
                      type="text"
                      value="valdimir berezovkiy"
                    />
                    <span class="far fa-user"></span>
                  </div>
                </div>
              </div>
              <div class="col-12">
                  <div class="d-flex flex-column px-md-5 px-4 mb-0">
                    <span>Amount</span>
                    <div class="inputWithIcon">
                      <input
                        class="form-control text-uppercase"
                        type="text"
                        value="10000"
                        id="saldo"
                        name="saldo"
                      />
                      <span class="far fa-user"></span>
                    </div>
                    <p id="currentSaldo" class="mt-2">Saldo saat ini: Rp. </p>
                  </div>
                </div>
              <div class="col-12 px-md-5 px-4 mt-0">
                <button id="tambahSaldoBtn" type="button" class="btn btn-primary w-100" type="submit" data-bs-dismiss="modal">Top Up</div>
              </div>
            </div>
          </form>
          </div>
        </div>
      </div>
</div>

</div>

<script>
    
    $(document).ready(function() {
      load();
    });
  
    async function load() {
      // Get daftar notifikasi
      $.ajax({url: "http://127.0.0.1:8000/notification/json", type: 'GET', success: function(data) {
        var res = ``;
        for (i = 0; i<data.length; i++) {
          res+=
          
                `
                <a href="#" class="list-group-item list-group-item-action mx-auto my-0" style="width: 40%;">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">${data[i].fields.title}</h5>
                    <small class="text-muted">${data[i].fields.timesince}</small>
                  </div>
                  <p class="mb-1">${data[i].fields.description}</p>
                </a>
                `
        }
        $(".notifications").html(res+"</div>");
      }});

      // Get saldo user
      $.ajax({url: "http://127.0.0.1:8000/profile/json", type: 'GET', success: function(data) {
        $("#currentSaldo").html("Saldo saat ini: Rp. " + data[0].fields.saldo);
      }});

    };
    
    $("#tambahSaldoBtn").click(function() {
    var data = $("#form");
    $.ajax({
      type:'PATCH',
      url: "http://127.0.0.1:8000/notification/ajax-tambah-saldo",
      data: data.serialize(),
      success: function() {
          $("#form")[0].reset();
          load();
      }
    });
  });

  </script>

{% endblock content %}