{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}  

<div class="" style="justify-content: center;">
    <div class="">
  
        <div class="my-5 py-5">


              
    <div class="login container h-10" style="width: 30%; border-radius: 5px !important; border: 1px solid rgb(162, 123, 92) !important;">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<h1 id="form-title" class="mb-0">Formulir Registrasi</h1>
				</div>
				<div class="d-flex justify-content-center form_container">
                    <form method="POST" >  
                        {% csrf_token %}  
                        <div class="d-flex justify-content-center input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" name="username" placeholder="Your Username" class="form-control" autocapitalize="none" autocomplete="username" id="id_username">
                        </div>
                        
                        {% if form.username.errors %}
                            {% for error in form.username.errors %}
                            <p>{{error}}</p>
                            {% endfor %}
                        {% endif %}
                        <div class="d-flex justify-content-center input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" name="password1" placeholder="Your Password" class="form-control" autocomplete="new-password" id="id_password1">
                        </div>
                        
                            {% if form.password1.errors %}
                                {% for error in form.password1.errors %}
                                <p>{{error}}</p>
                                {% endfor %}
                            {% endif %}
                        <div class="d-flex justify-content-center input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" name="password2" placeholder="Your Password Again" class="form-control" autocomplete="new-password" id="id_password2">
                        </div>
                        
                            {% if form.password2.errors %}
                                {% for error in form.password2.errors %}
                                    <p>{{error}}</p>
                                {% endfor %}
                            {% endif %}

                        <div class="d-flex justify-content-center mt-3 login_container">             
                            {% for field in role_form %}
                                    {{field}}
                            {% endfor %}
                            <tr>
                        </div> 
                        <div class="d-flex justify-content-center mt-3 login_container">
                            <input type="submit" button font-family: 'poppins'; background-color: #ffffff;" type="button" class="submit mt-0 ml-1 px-2 p-3" value="Daftar"/>
                        </div> 
                    

				</div>
		
				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						Sudah mempunyai akun? <a href="{% url 'autentikasi:login' %}" class="ml-2">Login</a>
					</div>
				</div>
                </form>
			</div>
		</div>
	</div>
            
        </div>

    </div>
</div>  

{% endblock content %}