{% extends 'base.html' %}
{% load static %}

{% block meta %}
  <script>
      var crowdfundUrl = "{% url 'crowdfund:show_crowdfund_json' id %}"
      var donationUrl = "{% url 'crowdfund:show_donations_json_by_fund' id %}"
  </script>
  <script src="{% static 'crowdfund_fundraiser.js' %}"></script>
{% endblock meta %}

{% block content %}
  <div class="my-5 py-5" id="crowdfund">
    <div class="row justify-content-center p-3" id="detail"></div>
  </div>
  <div class="modal fade" id="history">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Riwayat Donasi</h5>
          <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body text-center" id="donations">
          <p class="text-muted" id="no-donations">Belum ada donasi yang terkumpul.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}