{% extends 'base.html' %}
{% load static %}

{% block meta %}
  <script>
      var crowdfundUrl = "{% url 'crowdfund:show_crowdfund_json' id %}"
      var addDonationUrl = "{% url 'crowdfund:add_donation' id %}"
  </script>
  <script src="{% static 'crowdfund_donator.js' %}"></script>
{% endblock meta %}

{% block content %}
  <div class="my-5 py-5" id="crowdfund">
    <div class="row justify-content-center p-3" id="detail"></div>
  </div>
  <div class="modal fade" id="form">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Formulir Donasi</h5>
          <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body text-center">
          <form method="POST" action="">
            {% csrf_token %}
            <h6>Jumlah Donasi</h6>
            <span class="text-muted">Jumlah donasi harus di antara 1 dan jumlah saldo.</span>
            <input type="number" id="amount" placeholder="0" class="form-control">
            <br>
            <h6>Komentar kepada Penggalang Dana</h6>
            <span class="text-muted">Komentar harus tidak lebih dari 1000 karakter.</span>
            <input type="text" id="comment" placeholder="Tuliskan komentarmu di sini" class="form-control">
            <br>
            <div class="text-danger" id="error"></div>
            <input class="btn border" type="submit" value="Kumpulkan">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}