{% extends 'base.html' %}

{% block meta %}
  <title>Daftar Penggalangan Dana</title>
  <script src="{% static 'crowdfunds.js' %}"></script>
{% endblock meta %}

{% block content %}
  <h1 class="text-center p-3">Daftar Penggalangan Dana</h1>
  <div id="message"></div>
  <div class="row justify-content-center p-3" id="button"></div>
  <div class="row justify-content-center p-3" id="crowdfunds"></div>

  <div class="modal fade" id="form" data-bs-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Formulir Penggalangan Dana</h5>
          <a class="btn-close" data-bs-dismiss="modal"></a>
        </div>
        <div class="modal-body text-center">
          <form method="POST" action="">
            {% csrf_token %}
            <h6>Judul Penggalangan Dana</h6>
            <input type="text" id="title" placeholder="Masukkan judul di sini" class="form-control">
            <br>
            <h6>Informasi mengenai Penggalangan Dana</h6>
            <input type="text" id="description" placeholder="Masukkan deskripsi di sini" class="form-control">
            <br>
            <h6>Target Dana Terkumpul</h6>
            <input type="number" id="target" placeholder="0" class="form-control">
            <br>
            <h6>Batas Waktu Pengumpulan Dana</h6>
            <input type="datetime-local" id="deadline" class="form-control">
            <br>
            <input class="btn border" type="submit" value="Galang Dana">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}