{% extends 'base.html' %}

{% block meta %}
  <script src="{% static 'crowdfund.js' %}"></script>
{% endblock meta %}

{% block content %}
  <div class="modal fade" id="form" data-bs-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Formulir Donasi</h5>
          <a class="btn-close" data-bs-dismiss="modal"></a>
        </div>
        <div class="modal-body text-center">
          <form method="POST" action="">
            {% csrf_token %}
            <h6>Jumlah Donasi</h6>
            <input type="number" id="amount" placeholder="0" class="form-control">
            <br>
            <h6>Komentar kepada Penggalang Dana</h6>
            <input type="text" id="comment" placeholder="Tuliskan komentarmu di sini" class="form-control">
            <br>
            <input class="btn border" type="submit" value="Kumpulkan">
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="history" data-bs-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Riwayat Donasi</h5>
          <a class="btn-close" data-bs-dismiss="modal"></a>
        </div>
        <div class="modal-body text-center" id="donations"></div>
      </div>
    </div>
  </div>
{% endblock content %}