<head>
  <title>{% block title %} {{user}} {% endblock title %}</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
  {% block content %}
  <h1>{{user}}</h1>
  <p id="profilebio">{{bio}}</p>
  <p>{{role}}</p>
  <p>{{picture}}</p>

  <img src="{{picture}}" id="profilepicture" />

  <form
    id="profileform"
    method="POST"
    action="{% url 'userprofile:edit_profile' %}"
    enctype="multipart/form-data"
    data-url="{% url 'userprofile:edit_profile' %}"
  >
    {% csrf_token %} {{form.as_p}}

    <button type="submit" id="submitBtn">Save changes</button>
  </form>

  {% endblock content %}
  <script>
    $(document).ready(function () {
      $("#profileform").on("submit", function (e) {
        e.preventDefault();
        var formData = new FormData(this);
        // formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

        $.ajax({
          method: "POST",
          url: $("#profileform").data("url"),
          data: formData,
          processData: false,
          contentType: false,


          success: function () {
            alert("Data Successfully Posted");
            $.ajax({
              method: "GET",
              url: "{% url 'userprofile:show_json' %}",

              success: function (response) {
                $('#profilepicture').attr("src", response[0].fields.picture);
                $('#profilebio').empty();
                $('#profilebio').append(response[0].fields.bio);
              }
            })
          },
        });
      });
    });


  </script>
</body>
