<!-- Gabisa extends base.html :( -->
{% load static %}


<head>
  <title>{% block title %} {{user}} {% endblock title %}</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
    crossorigin="anonymous"
  />

  <link rel="stylesheet" href="{% static 'css/userprofile.css' %}">
</head>

{% block css %}

{% endblock %}

<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-custom">
    <a class="navbar-brand" href="{% url 'homepage:home' %}">
      <img width="50px" height="50px" src="{%static '/img/logo.png' %}" alt="DONOBOX"> Donobox
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a  href="{% url 'homepage:home' %}">Home</a>
        </li>
        <li class="nav-item">
            <a  href="#about">About Us</a>
        </li>
        <li class="nav-item">
            <a  href="{% url 'artikel:show_artikel' %}">Artikel</a>
        </li>
        <li class="nav-item">
            <a  href="{% url 'crowdfund:show_crowdfunds' %}">Crowdfund</a>
        </li>
        <li class="nav-item">
            <a  href="{% url 'notification:show_notification' %}">Notifikasi</a>
        </li>
        <li class="nav-item">
            <a  href="{% url 'userprofile:show_profile' %}">Profile</a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a href="{% url 'autentikasi:logout' %}"><button class="submit" type="submit">Logout</button></a>
            </li>
        {% else %}
            <li class="nav-item">
                <a href="{% url 'autentikasi:login' %}"><button class="submit" type="submit">Login</button></a>
            </li>
        {% endif %}
    </ul>
    </div>
  </nav>
</header>

<body style="background-color: rgb(220, 215, 201);">

  {% block content %}
  <section class="section about-section gray-bg" id="about">
    <br>
    <br>
    <div class="container">
      <div class="row align-items-center flex-row-reverse">
        <div class="col-lg-6">
          <div class="about-text go-to">
            <h3 class="dark-color">{{user}}</h3>
            <h6 class="theme-color lead">{{role}}</h6>
            <p id="profilebio"> {{bio}}</p>
            <div class="row about-list">
              <div class="col-md-6">
                <div class="media">
                  <label>Saldo</label>
                  <p>Rp{{saldo}}</p>
                </div>
                <div class="media">
                  <label>Birthday</label>
                  <p id="profilebirthday">{{birthday}}</p>
                </div>
                <div class="media">
                  <a
                    data-bs-toggle="modal"
                    data-bs-target="#modalprofile"
                    class="submit mt-0 ml-1 px-2 p-3"
                    role="button"
                    style = "background-color:  #ffffff; font-family: 'poppins';"
                    
                    >Edit Profile</a
                  >
                  
                </div>
              </div>
              <div class="col-md-6">
                <div class="media">
                  <label>Phone</label>
                  <p id="profilephone">{{phone}}</p>
                </div>
                <div class="media">
                  <label>Email</label>
                  <p id="profileemail">{{email}}</p>
                </div>
                {% if is_donatur %}
                <div class="media">
                  <a href="/profile/topup"><button style="font-family: 'poppins'; background-color: #ffffff;" type="button" class="submit mt-0 ml-1 px-2 p-3">Top Up </button></a>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="about-avatar">
            <img src="{{picture}}" title="" alt="" class="rounded-circle" id="profilepicture"/>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Modal -->
  <div
    class="modal fade"
    id="modalprofile"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Save changes</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form
            method="POST"
            action="{% url 'userprofile:edit_profile' %}"
            enctype="multipart/form-data"
            id="profileform"
            data-url="{% url 'userprofile:edit_profile' %}"
          >
            {% csrf_token %} 
            <table>
            {{form1.as_table}}
            </table>
            <br />
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" id="submitBtn" class="btn btn-primary">
              Save changes
            </button>
          </form>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>

  {% endblock content %}
  <script>
    $(document).ready(function () {
    $("#profileform").on("submit", function (e) {
      e.preventDefault();
      var formData = new FormData(this);

      $.ajax({
        method: "POST",
        url: $("#profileform").data("url"),
        data: formData,
        processData: false,
        contentType: false,

        success: function () {
          alert("Profile succesfully updated");
          $.ajax({
            method: "GET",
            url: "{% url 'userprofile:show_json' %}",

            success: function (response) {
              console.log(response)
              $("#modalprofile").modal('hide');
              $("#profilepicture").attr("src", response[0].fields.picture);
              if (response[0].fields.bio != null){
                $("#profilebio").empty();
                $("#profilebio").html(response[0].fields.bio);
              }

              if (response[0].fields.phone != null){
                $("#profilephone").empty();
              $("#profilephone").html(response[0].fields.phone);
              }

              if (response[0].fields.email != null){
                $("#profileemail").empty();
              $("#profileemail").html(response[0].fields.email);
              }
              
              
              if (response[0].fields.birthday != null){
                $("#profilebirthday").empty();
              $("#profilebirthday").html(response[0].fields.birthday); 
              }
              
            },
          });
        },
      });
    });

  });
  </script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"
  ></script>
</body>

<footer id= "footer" class="footer">
  <div id= "container-footer" class="container">
      <div class="row">
          <div class="footer-col">
              <h4>DONOBOX</h4>
              <ul>
                  <li style="list-style: none;"><a href="homepage/home/#about">About Us</a></li>
                  <li style="list-style: none;"><a href="#ourteam">Our team</a></li>
              </ul>
          </div> 
          <div class="footer-col">
              <h4>CONTACT US</h4>
              <ul>
                  <li style="list-style: none;"><a style="color: #bbbbbb;"><i id class="fa fa-envelope"></i> Donobox@gmail.com</a></li>
                  <li style="list-style: none;"><a style="color: #bbbbbb;" ><i class="fa fa-phone"></i> 021-9272-8161</a></li>
              </ul>
          </div>
          <div class="footer-col">
              <h4>OUR SOCIAL MEDIA</h4>
              <ul>
                  <li style="list-style: none;"><a style="color: #bbbbbb;"><i class="fab fa-facebook"></i> Donobox</a></li>
                  <li style="list-style: none;"><a style="color: #bbbbbb;" ><i class="fab fa-instagram"></i> @donobox_id</a></li>
                  <li style="list-style: none;"><a style="color: #bbbbbb;" ><i class="fab fa-twitter"></i> @donobox_id</a></li>
              </ul>
          </div>
      </div>
  </div>
</footer>