<head>
    <title>{% block title %} {{user}} {%  endblock title %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    {% block content %}
    <h1>{{user}}</h1>
    <p>{{bio}}</p>
    <p>{{role}}</p>
    <p>{{picture}}</p>

    <img src={{picture}}>

    <form method="POST" action="{% url 'userprofile:edit_profile' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- <table>
            <tr>
                <td>
                    <label for="imageupload">Upload Image : </label> 
                    <input type="file" id="imageupload" name="imageupload" accept="image/png, image/jpeg"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="bioinput">Bio : </label>
                    <input type="text" id="bioinput" name="bioinput"/>
                </td>
            </tr>
        </table> -->
        {{form.as_p}}

        <button type="submit" id="submitBtn">Save changes</button>
    </form>

    {% endblock content %}
</body>