{% extends 'base.html' %}

{% block content %}

<div id="pertanyaan" class="services section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading  wow fadeInDown" >
                    <h6>PERTANYAAN</h6>
                    <br>
                </div>
            </div>                  
            <div class="container">
                <div class="card-container">
                    {% for i in list_pertanyaan %}
                    <div style="border-radius: 20px;background-color:#060C23; box-shadow: 7px 7px 10px 2px #17C2EC; margin-bottom: 52px;" class="card">
                        <h6 style="text-align: center; color: #bbbbbb; padding-top: 16px;">Pertanyaan:</h6>
                        <h3 style="text-align: center; color: #fff; font-size: medium; word-break: break-all; padding-top: 4px;">{{ i.pertanyaan }}</h3>
                        <br>
                        <h6 style="text-align: center; color: #bbbbbb; padding-top: 16px;">Jawaban:</h6>
                        <p style="text-align: center; color: #fff; font-size: medium; word-break: break-all; padding-top: 4px; padding-bottom: 16px;">Belum ada jawaban</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div> 
    </div>
</div>  


{% endblock content %}